<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
	<link rel="stylesheet" href="/css" />    
	<title>{% block title %}{% endblock %}VERTEX</title>
    {% endblock %}
</head>
<body>
	<h1 class="mainTitle">VERTEX</h1>
	<hr class="dividorLine" />
	</div>
	<div id="spinner" class="spinner" style="display:none;"> <img id="img-spinner" src="/imageFolder/myLoader.gif" alt="Loading"/></div>	
	<h3>You hit the submit button, and the info I take from it is:</h3>
	<p>{{ myData }}</p>
	<p>{{ val1 }}</p>
	<p>{{ val2 }}</p>
	<hr class="dividorLine" />
	<p> nextGen VERTEX is a <b>pre-publication</b> product of the <a href='http://ged.msu.edu/'>GED lab</a> <br> &copy Michigan State University
    </div>

</body>
